<section class="slab slab--styleguide" id="">
  <div class="grid">
    <div class="grid__item width-one-half">
      <h2>Are you currently on public benefits in Louisiana? Or do you plan to apply soon?</h2>
      <p class="text--help">If so, we invite you to participate in our research study. Participants will be compensated with a $200 Visa gift card.</p>

      <button class="button button--cta button--large">Apply to participate</button>

      <h2>Code for America is working to improve the delivery of public benefits in Louisiana.</h2>
      <p class="text--help">In partnership with the state of Louisiana, Code for America is exploring ways to improve how Louisianans obtain and access public benefits like SNAP, Medicaid, FITAP, WIC, and LIHEAP.</p>
    </div>
    <div class="grid__item shift-one-fourth width-one-fourth">
      <%= image_tag "cfa-logo.png" %>
      <br><br>
      <%= image_tag "la-seal.jpg" %>
    </div>
  </div>
</section>
<section class="slab slab--styleguide">
  <div class="grid steps">
    <div class="grid__item width-one-third">
      <div class="emoji emoji--med emoji--pencil"></div>
      <p class=" with-no-padding"><b>Step 1</b></p>
      <p class="text--small with-padding-small">To participate, apply above with details about your case. After you apply, we'll call you to confirm your details.</p>
    </div>
    <div class="grid__item width-one-third">
      <div class="emoji emoji--med emoji--to-mobile"></div>
      <p class=" with-no-padding"><b>Step 2</b></p>
      <p class="text--small with-padding-small">If approved, you'll be enrolled for a service that sends you text message reminders about your benefits case.</p>
    </div>
    <div class="grid__item width-one-third">
      <div class="emoji emoji--med emoji--receiver"></div>
      <p class=" with-no-padding"><b>Step 3</b></p>
      <p class="text--small with-padding-small">At the end of the research study, we'll have a 30-minute phone call interview with you to talk about how things went.</p>
    </div>
  </div>
</section>